<div class="navigation">
    <div class="top-box">
        <a routerLink="/" class="top-box__a-logo">
            <div class="top-box__logo"></div>
            <div>
                <p class="top-box__logo-title">Unsplash</p>
                <p class="top-box__logo-subtitle">Photos for everyone</p>
            </div>
        </a>
        <form action="">
            <button class="top-box__button-search"><div></div></button>
            <input type="text" placeholder="Search free high-resolution photos" id="long-input">
            <input type="text" placeholder="Search photos" id="short-input">
        </form>
        <a href="#" class="top-box__a-explore">Explore</a>
        <a href="#" class="top-box__a-awards">
            <div class="top-box__awards-logo">🏆</div>
            <p>Unsplash Awards</p>
        </a>
        <button class="top-box__button-points">
            <div></div>
        </button>
        <button class="top-box__button-submit"><a href="#">Submit<span> a photo</span></a></button>
        <div class="top-box__line"></div>
        <a href="#" class="top-box__a-login">Login</a>
        <button class="top-box__button-join"><a href="#">Join free</a></button>
    </div>
</div>
<div class="header">
    <div>
        <p class="header__title">Wallpapers</p>
        <p class="header__subtitle">From epic drone shots to inspiring moments in nature, find free HD <br>wallpapers worthy of your mobile and desktop screens. Finally.</p>
        <div class="header__logo"></div>
        <p class="header__curated-text">Curated by <a href="#">Unsplash</a></p>
    </div> 
    <div class="header__box">
        <div class="header__box-cell">
            <div class="header__cell">
                <div class="header__cell-flex">
                    <div class="header__cell-logo"></div>
                    <p class="header__cell-title">Status</p>
                </div>
                <div class="header__cell-open">
                    <div class="header__cell-point"></div>
                    <p class="header__cell-text">Open</p>
                </div>
            </div>
            <div class="header__line"></div>
            <div class="header__cell">
                <div class="header__cell-flex">
                    <div class="header__cell-logo"></div>
                    <p class="header__cell-title">Contributions</p>
                </div>
                <p class="header__cell-number">5.4k</p>
            </div>
            <div class="header__line"></div>
            <div class="header__cell">
                <div class="header__cell-flex">
                    <div class="header__cell-logo"></div>
                    <p class="header__cell-title">Top contributors</p>
                </div>
                <div class="header__cell-contributors">
                    <div class="header__cell-ellepse"></div>
                    <div class="header__cell-ellepse"></div>
                    <div class="header__cell-ellepse"></div>
                    <div class="header__cell-ellepse"></div>
                    <div class="header__cell-ellepse"></div>
                </div>
            </div>
        </div>
        <button class="header__button">
            <a href="#">Submit to <span>Wallpapers</span></a>
        </button>
    </div>
</div>
<div class="header__box-galery">
    <div class="header__column">
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
    </div>
    <div class="header__column">
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
    </div>
    <div class="header__column">
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
        <div class="header__box-img">
            <img src="https://images.unsplash.com/photo-1601359212330-672577f3977d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" alt="" class="header__img">
            <button class="header__like-btn">
                <div class="header__logo-btn"></div>
            </button>
            <button class="header__add-btn">
                <div class="header__logo-btn"></div>
            </button>
            <a href="#">
                <div class="header__avatar"></div>
                <p class="header__login">Tim Meyer | @timm.jpeg</p>
            </a>
            <button class="header__download-btn">
                <div class="header__logo-btn"></div>
            </button>
        </div>
    </div>
</div>