<div class="navigation">
    <div class="top-box">
        <a routerLink="/" class="top-box__a-logo">
            <div class="top-box__logo"></div>
            <div>
                <p class="top-box__logo-title">Unsplash</p>
                <p class="top-box__logo-subtitle">Photos for everyone</p>
            </div>
        </a>
        <form action="">
            <button class="top-box__button-search"><div></div></button>
            <input type="text" placeholder="Search free high-resolution photos" id="long-input">
            <input type="text" placeholder="Search photos" id="short-input">
        </form>
        <a href="#" class="top-box__a-explore">Explore</a>
          <a href="#" class="top-box__a-awards">
              <div class="top-box__awards-logo">🏆</div>
              <p>Unsplash Awards</p>
          </a>
        <button class="top-box__button-points">
            <div></div>
        </button>
        <button class="top-box__button-submit"><a href="#">Submit<span> a photo</span></a></button>
        <div class="top-box__line"></div>
        <a href="#" class="top-box__a-login">Login</a>
        <button class="top-box__button-join"><a href="#">Join free</a></button>
    </div>
    <div class="bottom-box">
        <a href="#" class="bottom-box__a-editorial">Editorial</a>
        <div class="bottom-box__line"></div>
        <div class="bottom-box__box-li" id="style-scroll">
            <ul class="bottom-box__ul">
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Architecture</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Current Events</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Experemental</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Fashion</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Film</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Health & Wellness</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Interiors</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Nature</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">People</a></li>
                <li class="bottom-box__li"><a href="#" class="bottom-box__a">Street Photography</a></li>
            </ul>
        </div>
        <a href="#" class="bottom-box__a-view">View all</a>
    </div>
  </div>
<a class="a-wallpapers"routerLink="/wallpapers">wallpapers - отложенная загрузка</a>